modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
GOOGLE_API_KEY_1 = "AIzaSyBABDrTTQFXu00e2unAmPcJ7mi57uuyyvs"

[userenv.development]
GOOGLE_API_KEY = "AIzaSyBdo73WHu9Abq6peqMYMQoKdN4sIAb6Cjw"

[userenv.production]
GOOGLE_API_KEY = "AIzaSyBdo73WHu9Abq6peqMYMQoKdN4sIAb6Cjw"
